<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- index --}}
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="/stylesheets/pantalla/css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="/stylesheets/pantalla/css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="/stylesheets/pantalla/css/main.css?ver=1.2.0" rel="stylesheet">

    {{!-- fin index --}}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {{> header }}
  {{{body}}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 {{!-- index --}}
  <script src="/stylesheets/pantalla/scripts/jquery.slim.min.js?ver=1.2.0"></script>
    <script src="/stylesheets/pantalla/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="/stylesheets/pantalla/scripts/main.js?ver=1.2.0"></script>
  </body>
</html>
