    <title>{{title}}</title>

<section class="insert">
    <h3>Añadir Items Para La Venta</h3>
    <form action="/additem" method="post">
        <div class="input">
            <label for="cod">Codigo</label>
            <input type="text" id="cod" name="cod">
        </div>
        <div class="input">
            <label for="prod_name">Nombre_producto</label>
            <input type="text" id="prod_name" name="prod_name">
        </div>
        <div class="input">
            <label for="prod_brand">prod_brand</label>
            <input type="text" id="prod_brand" name="prod_brand">
        </div>
        <div class="input">
            <label for="subcategory">subcategory</label>
            <input type="text" id="subcategory" name="subcategory">
        </div>
        <div class="input">
            <label for="tags">tags</label>
            <input type="text" id="tags" name="tags">
        </div>
        <div class="input">
            <label for="price">Price</label>
            <input type="text" id="price" name="price">
        </div>
         <div class="input">
            <label for="prod_units">prod_units</label>
            <input type="text" id="prod_units" name="prod_units">
        </div>
        
        <br>                
        <button type="submit">Insertar</button>
        </form>
        </section>
        <br>
        <a href="/"><i class="" aria-hidden="true"></i>Cancelar</a>
        </div>